body {
    background-image:url("Pontevedra.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
          
}

form {
    margin-top: 2vw;
    box-shadow: 5px 5px 10px black;
    
}

.login {
    background-color: whitesmoke;
    width: 19vw;
    height: 30vw;
    padding: 2vw;
    font-weight: bold;
    margin: auto;
    margin-top: 2vw;
    border-radius: 10px;
    border-color:rgb(100, 97, 97);
    
}

.senha {
    text-align: right;
    color:rgb(100, 97, 97);
}

input {
    border: none;
    background-color: whitesmoke;
    border-bottom:1px solid black;
    margin-bottom: 1.5vw;
    color:rgb(100, 97, 97);
    width: 100%;
    outline: none;
    line-height: 2vw;
    
}

.email {
    border:none;
    border-bottom:2px solid black;
    
    
}

h2 {
    text-align: center;
    margin-top: 0;
    font-size: 2.5vw;
}

a {
    text-align: right;
    font-size: 1.2vw;
}
.naotemconta {
    margin: 0px;
    text-align: center;
    line-height: .5vw;
}
.botao {
    background-color: black;
    padding: 0.5vw;
    border-radius: 12px;
    color: white;
    line-height: 2vw;
    cursor: pointer;
    margin:0vw;
    margin-top: 2vw;
}

.botao:hover {
    background-color: rgb(143, 96, 36);
    transition: 3s;
}

p {
    font-size: 1.4vw;
    margin-top: 2vw;
}

label, input{
    font-size: 1.3vw;
    display: block;
    line-height: 2.5vw
}
